#import("R2WinBUGS", "rjags")

#importFrom(rjags,jags.model)
#importFrom(rjags,coda.samples)

importFrom(coda, "as.mcmc")
importFrom(R2WinBUGS, "write.model")

exportClasses(
              "rjags",
              "rjags.parallel"             
              )

exportMethods(
      "traceplot"
)

export(
       "attach.jags",
       "autojags",
       "detach.jags",
       "jags",
       "jags.parallel",
       "jags2",
       "jags2bugs",
       "recompile"
)

S3method("recompile", "rjags")
S3method("recompile", "rjags.parallel")
S3method("plot", "rjags")
S3method("print", "rjags")
S3method("update", "rjags")
S3method("update", "rjags.parallel")
S3method("as.mcmc", "rjags")
