#import("R2WinBUGS", "rjags")

#importFrom(rjags,jags.model)
#importFrom(rjags,coda.samples)


exportClasses(
              "rjags"              
              )


export(
       "autojags",
       "jags",
       "jags2",
       "jags2bugs",
       "recompile"
)

S3method("recompile", "rjags")
S3method("plot", "rjags")
S3method("print", "rjags")
S3method("update", "rjags")
